services:
  web:
    image: nginx:latest
    container_name: web
    ports:
      - "8080:80"
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      net:
        ipv4_address: 10.10.10.2
    depends_on:
      - db

  db:
    image: postgres:latest
    container_name: db
    environment:
      POSTGRES_PASSWORD: password
    volumes:
      - db_data:/var/lib/postgresql
    networks:
      net:
        ipv4_address: 10.10.10.3
        aliases:
          - new_db
          - dev_db

volumes:
  db_data:

networks:
  net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.10.0/28

