- name: Setup user and SSH
  hosts: ubuntu_servers
  become: yes

  vars:
    new_user: hw2
    ssh_pub_key: "{{ lookup('file', 'files/id_rsa.pub') }}"

  tasks:

    - name: Create new user
      user:
        name: "{{ new_user }}"
        state: present

    - name: Add user to sudo group
      user:
        name: "{{ new_user }}"
        groups: sudo
        append: yes

    - name: Add SSH public key for user
      authorized_key:
        user: "{{ new_user }}"
        key: "{{ ssh_pub_key }}"

    - name: Disable password authentication for SSH
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^PasswordAuthentication'
        line: 'PasswordAuthentication no'
      notify: Restart SSH

    - name: Create directory in /opt/
      file:
        path: /opt/test_dir
        state: directory
        owner: "{{ new_user }}"
        group: "{{ new_user }}"
        mode: '0660'

  handlers:
    - name: Restart SSH
      service:
        name: ssh
        state: restarted
